node_modules/
.vscode/
target/
npm-packages-offline-cache/
.env

*.css
*.log
*.zip
desktop.ini

.DS_STORE

# ignore yarn locks of workspaces, as they are generated on build time
yarn.lock

# we are using yarn, so never commit package-lock.json
package-lock.json